#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  width: 400px;
  margin: 0 auto;
  flex-direction: column;
  align-items: start;
  justify-items: center;
  gap: 4px;
}

label {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

section {
  margin-bottom: 2rem;
}

select {
  width: 153px;
}
